.body-header {
  border-bottom: 1px solid #e3ebf6;
}

.timeline {
  position: relative;
  border-bottom: 1px solid #e3ebf6;
  margin-bottom: 1rem;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #e3ebf6;
    top: 0;
    bottom: 0;
    left: 50%;
  }

  .each-ticket {
    mat-card {
      -webkit-box-shadow: inset 0 4px 1px 1px rgba(43,255,2,0.12);
      box-shadow: inset 0 4px 1px 1px rgba(43,255,2,0.12);
    }
    .ticket-header {
      border-bottom: 1px solid #e3ebf6;
      padding-bottom: 10px;
    }
  }

  .admin-ticket {
    mat-card {
      -webkit-box-shadow: inset 0 4px 1px 1px rgba(#ff6100 ,0.12);
      box-shadow: inset 0 4px 1px 1px rgba(#ff6100 ,0.12);
    }
  }

  .customer-ticket {
    mat-card {
      -webkit-box-shadow: inset 0 4px 1px 1px rgba(#444444 ,0.12);
      box-shadow: inset 0 4px 1px 1px rgba(#444444 ,0.12);
    }
  }

}
