<app-header></app-header>

<div fxLayout="column" fxLayoutAlign="start stretch" class="landing-base-theme5">

  <div class="base-theme5-slider" fxLayout="column" fxLayoutAlign="start stretch"
       cdkDrag [cdkDragDisabled]="dragDropService.disabled"
       [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-slider')"
       (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-slider')">

    <div class="overlay"></div>

    <div fxLayout="column" fxLayoutAlign="start stretch">
      <swiper [config]="mainSliderConfig" class="base-theme5-swiper">
        <ng-container *ngFor="let sliderIdx of dynamicMediaService.mediaSliderLoop">
          <ng-template swiperSlide *ngIf="dynamicMediaService.getMedia('slider' + sliderIdx)">
            <a *ngIf="dynamicMediaService.getMediaLink('slider' + sliderIdx) else noLink"
               [href]="dynamicMediaService.getMediaLink('slider' + sliderIdx)" target="_blank">
              <image-lazy [src]="dynamicMediaService.getMedia('slider' + sliderIdx)"
                   [alt]="'slider' + sliderIdx" addClass="text-center img-fluid" editElement
                          [bestWidth]="'1200px'" [bestHeight]="'400px'"
                          [editType]="'slider' + sliderIdx" ></image-lazy>
            </a>
            <ng-template #noLink>
              <image-lazy [src]="dynamicMediaService.getMedia('slider' + sliderIdx)"
                   [alt]="'slider' + sliderIdx" addClass="text-center img-fluid" editElement
                          [editType]="'slider' + sliderIdx"></image-lazy>
            </ng-template>
          </ng-template>
        </ng-container>
      </swiper>
    </div>

  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch"
       class="container my-4 base-theme5-categories-list"
       ngClass.gt-sm="my-5 py-5" ngClass.lt-md="py-3"
       cdkDrag [cdkDragDisabled]="dragDropService.disabled"
       [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-categories-list')"
       (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-categories-list')">
    <div fxLayout="row" fxLayout.lt-md="row wrap"
         fxLayoutAlign="space-evenly center">
      <div *ngFor="let category of categories | slice: -6" class="mb-2" ngClass.lt-md="mx-2" fxLayout="column"
           fxLayoutAlign="space-evenly center">
        <a [href]="'/store/category/' + category.PRODUCT_ID + '/' + category.NAME.split(' ').join('-')"
           fxLayout="column" fxLayoutAlign="start center">

          <ng-container *ngIf="category.PRODUCT_NAME && category.PRODUCT_NAME != 'null' else defaultCategory">
            <image-lazy [src]="imageUrl + '/assets/img/categories/category_logo/' + category.PRODUCT_NAME"
                        [alt]="category.NAME" class="img-fluid"></image-lazy>
          </ng-container>

          <ng-template #defaultCategory>
            <img src="../../../../../assets/img/default/category.png" [alt]="category.NAME" class="img-fluid">
          </ng-template>

          <p class="category-desc text-center">
            {{category.NAME}}
          </p>

        </a>
      </div>
    </div>
  </div>

  <div class="container my-4" fxLayout="column" fxLayoutAlign="start stretch"
       cdkDrag [cdkDragDisabled]="dragDropService.disabled"
       [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives')"
       (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives')">

    <div fxLayout="row" fxLayoutAlign="space-between center"
         fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch"
         fxLayoutGap.lt-md="30px" class="base-theme5-upper-decoratives">

      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="25px" fxFlex.gt-sm="48%">
        <h2 cdkDrag [cdkDragDisabled]="dragDropService.disabled"
            [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives-title')"
            (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives-title')"
            editElement editType="base-theme5-upper-decoratives-title">
          {{(dragDropService.fieldText('base-theme5-upper-decoratives-title') || storeSettingService.store.name)}}
        </h2>
        <p class="text-justify my-4 text-preWrap"
           cdkDrag [cdkDragDisabled]="dragDropService.disabled"
           [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives-desc')"
           (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives-desc')"
           editElement editType="base-theme5-upper-decoratives-desc">
          {{(
          dragDropService.fieldText('base-theme5-upper-decoratives-desc') ||
          dynamicMediaService.getMedia('desc1')
          )| translate}}
        </p>
        <a mat-raised-button color="primary"
           [href]="dragDropService.fieldLink('base-theme5-upper-decoratives-btn') || '/store'"
           class="px-3 py-1" cdkDrag [cdkDragDisabled]="dragDropService.disabled"
           [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives-btn')"
           (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives-btn')">
          {{(dragDropService.fieldText('base-theme5-upper-decoratives-btn') || "محصولات") | translate}}
        </a>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" class="images"
           fxLayoutAlign.lt-md="center center" fxFlex.gt-sm="48%">

        <div class="upperImage"
             fxLayout="column" fxLayoutAlign="start center"
             cdkDrag [cdkDragDisabled]="dragDropService.disabled"
             [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives-img0')"
             (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives-img0')">
          <a *ngIf="dynamicMediaService.getMediaLink('decorationUp1') else noLink"
             [href]="dynamicMediaService.getMediaLink('decorationUp1')">
            <image-lazy [src]="dynamicMediaService.getMedia('decorationUp1')" alt=""
                        editElement editType="decorationUp1"></image-lazy>
          </a>
          <ng-template #noLink>
            <image-lazy [src]="dynamicMediaService.getMedia('decorationUp1')" alt=""
                        editElement editType="decorationUp1"></image-lazy>
          </ng-template>
        </div>

        <div class="downerImage" fxLayout="column" fxLayoutAlign="start center"
             cdkDrag [cdkDragDisabled]="dragDropService.disabled"
             [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-upper-decoratives-img1')"
             (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-upper-decoratives-img1')">
          <a *ngIf="dynamicMediaService.getMediaLink('decorationUp2') else noLink2"
             [href]="dynamicMediaService.getMediaLink('decorationUp2')" target="_blank">
            <image-lazy [src]="dynamicMediaService.getMedia('decorationUp2')" alt=""
                        editElement editType="decorationUp2"></image-lazy>
          </a>
          <ng-template #noLink2>
            <image-lazy [src]="dynamicMediaService.getMedia('decorationUp2')" alt=""
                        editElement editType="decorationUp2"></image-lazy>
          </ng-template>
        </div>
      </div>

    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch"
       class="base-theme5-latest-products"
       cdkDrag [cdkDragDisabled]="dragDropService.disabled"
       [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-latest-products')"
       (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-latest-products')">

    <div class="container" fxLayout="column" fxLayoutAlign="start stretch">
      <products-slider *ngIf="productsSlider.products?.length" [products]="productsSlider.products" class="my-4"
                       [link]="productsSlider.link" [queryParams]="productsSlider.query" [title]="productsSlider.name">
      </products-slider>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch"
       class="base-theme5-most-sell-products"
       cdkDrag [cdkDragDisabled]="dragDropService.disabled"
       [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-most-sell-products')"
       (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-most-sell-products')">
    <h2 class="p-3" ngClass.lt-md="text-center">{{'پرفروش ترین ها' | translate}}</h2>

    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column-reverse"
         fxLayoutAlign.lt-md="start stretch">

      <div fxFlex="49%" fxLayout="row wrap" fxLayoutAlign="start stretch" ngClass.lt-md="mx-2" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">
        <ng-container *ngFor="let product of productsSummary?.products">
          <product-slide [product]="product" fxFlex="45%" fxFlex.lt-md="65%" class="mb-3" fxHide.lt-md>
          </product-slide>
          <product-slide-mobile [product]="product" fxFlex="45%" fxFlex.lt-md="65%" class="mb-3" fxHide.gt-sm>
          </product-slide-mobile>
        </ng-container>
      </div>

      <div fxFlex="49%" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let idx of [1,2,3,4]"
             [ngClass]="{'text-left': idx%2 != 0, 'text-right': idx%2 == 0}" class="base-theme5-downer-decoratives"
             cdkDrag [cdkDragDisabled]="dragDropService.disabled"
             [cdkDragFreeDragPosition]="dragDropService.findPosition('base-theme5-downer-decoratives-img' + idx)"
             (cdkDragEnded)="dragDropService.dropEvent($event.distance, 'base-theme5-downer-decoratives-img' + idx)">
          <a *ngIf="dynamicMediaService.getMediaLink('decorationDown'+idx) else noLink"
             [href]="dynamicMediaService.getMediaLink('decorationDown'+idx)" target="_blank">
            <image-lazy [src]="dynamicMediaService.getMedia('decorationDown'+idx)" alt=""
                        editElement [editType]="'decorationDown' + (idx)"></image-lazy>
          </a>
          <ng-template #noLink>
            <image-lazy [src]="dynamicMediaService.getMedia('decorationDown'+idx)" alt=""
                        editElement [editType]="'decorationDown' + (idx+1)"></image-lazy>
          </ng-template>
        </div>
      </div>

    </div>

  </div>

</div>

<luck-wheel></luck-wheel>

<app-section></app-section>

<app-brands-slider></app-brands-slider>

<app-footer></app-footer>
