.factor-header {
  background-color: white;
  z-index: 5;
  top: 0;
  position: sticky;
  box-shadow: 2px 6px 16px -8px rgb(0 0 0 / 0.5);
  -webkit-box-shadow: 2px 6px 16px -8px rgb(0 0 0 / 0.5);
  -moz-box-shadow: 2px 6px 16px -8px rgb(0 0 0 / 0.5);

  .header-logo {
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .login-action {
    @media screen and (max-width: 959px) {
      font-size: 12px;
    }

    a {
      font-weight: bold;
    }
  }
}


