.dialog-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;

    .support-list {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;

        .support-item {
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;            

            .support-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin: 5px 0;

                .support-name {
                    display: inline-block;
                    direction: rtl;
                    margin-left: 10px;
                    font-size: 18px;
                }

                .support-phone {
                    display: inline-block;
                    direction: ltr;
                    font-size: 15px;
                    color: #4e1eb9;
                    text-decoration: none;
                }
            }
        }
    }
}