<div fxLayout="column" fxLayoutAlign="center center" class="paypal-error" dir="ltr">

  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <img src="../../../../assets/img/paypal.png" alt="paypal">
    <b>
      We're Sorry, things don't appear to be working at the moment, the destination master card is not valid.
      try again later
    </b>
    <a href="/" target="_self" class="return-btn">
      Return To Merchant
    </a>
    <div class="w-100">
      <mat-divider></mat-divider>
    </div>
    <p>PayPal. The safer, easier way to pay. For more information, read our
      <a target="_blank"
         href="https://www.sandbox.paypal.com/webapps/mpp/ua/useragreement-full"
         title="Opens in new window" style="color: #0a2ba6">
        User Agreement
      </a>
      and
      <a target="_blank"
         href="https://www.sandbox.paypal.com/webapps/mpp/ua/privacy-full"
         title="Opens in new window" style="color: #0a2ba6">
        Privacy Policy
      </a>
      .
    </p>
  </div>

</div>
