.signUp-phone {
  background-color: #EEEEEE;

  .rules {
    font-size: 14px;
  }

  a {
    color: var(--custom-primary-color);
    font-size: 16px;
    font-weight: bold;
  }

  .form-section {
    min-width: 300px;
  }

}
