<app-header></app-header>

<mat-drawer-container [dir]="modulesService.lang == 'fa' ? 'rtl' : 'ltr'" autosize class="drawer-container">

  <mat-drawer #profileDrawer mode="side" id="profileDrawer" opened>
    <div class="menu h-100 pt-2" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="infoUser" fxLayout="column" fxLayoutAlign="center center">
        <image-lazy *ngIf="userService.user.AVATAR" [src]="imageUrl + '/' + userService.user.AVATAR"
                    [alt]="userService.user.NAME"></image-lazy>
        <img *ngIf="!userService.user.AVATAR" [src]="imageUrl + '/assets/img/account.png' " alt="account.png">
        <span>{{userService.user.USER_NAME}}</span>
        <span>{{userService.user.NAME}}</span>
      </div>

      <div class="menu-list" fxLayout="column" fxLayoutAlign="space-around start">

        <a routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>account_circle</mat-icon>
          <span>{{'پروفایل من' | translate }}</span>
        </a>

        <a routerLink="/profile/favorite" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>favorite</mat-icon>
          <span>{{'موردعلاقه ها' | translate }}</span>
        </a>

        <a routerLink="/profile/club" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>local_activity</mat-icon>
          <span>{{'باشگاه مشتریان' | translate }}</span>
        </a>

        <a routerLink="/profile/orders" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon [matBadge]="counter" matBadgePosition="above before" matBadgeColor="warn">assignment</mat-icon>
          <span>{{'سفارش های من' | translate }}</span>
        </a>

        <a routerLink="/profile/addresses" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>location_on</mat-icon>
          <span>{{'آدرس های من' | translate }}</span>
        </a>

        <a routerLink="/profile/wallet" routerLinkActive="active-link" *ngIf="modulesService.wallet" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="5px" [routerLinkActiveOptions]="{exact:true}"
           (click)="clickDrawer(profileDrawer)">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>{{'کیف پول' | translate }}</span>
        </a>

        <a routerLink="/profile/financial" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>attach_money</mat-icon>
          <span>{{'مدیریت مالی' | translate }}</span>
        </a>

        <a routerLink="/profile/tickets" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="clickDrawer(profileDrawer)">
          <mat-icon>support_agent</mat-icon>
          <span>{{'تیکت ها' | translate }}</span>
        </a>

        <a routerLink="/profile/InviteFriends" routerLinkActive="active-link" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="5px" [routerLinkActiveOptions]="{exact:true}"
           (click)="clickDrawer(profileDrawer)">
          <mat-icon>person_add</mat-icon>
          <span>{{'دعوت دوستان' | translate }}</span>
        </a>

        <a href="/quiz" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="5px"
           (click)="clickDrawer(profileDrawer)">
          <mat-icon>quiz</mat-icon>
          <span>{{'آزمون تعین سطح' | translate }}</span>
        </a>

      </div>

    </div>

  </mat-drawer>

  <mat-drawer-content class="drawer-content" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxHide.gt-sm fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <button mat-button color="primary" (click)="profileDrawer.toggle()">
        <mat-icon>filter_alt</mat-icon>
        <span>{{'منو' | translate}}</span>
      </button>
    </div>

    <div fxHide.gt-sm class="my-2">
      <mat-divider></mat-divider>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

<app-footer></app-footer>
