<div class="factor-special-courier" fxLayout="column" fxLayoutAlign="start stretch">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>{{'طریقه ارسال' | translate}}</h2>
    <div></div>
  </div>

  <mat-divider class="my-2"></mat-divider>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="15px"
       fxLayoutAlign="start center" fxLayoutGap="25px">

    <mat-form-field appearance="outline">

      <mat-label fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="5px">
        <span>{{'انتخاب نحوه ارسال' | translate }}</span>
        <mat-icon>local_shipment</mat-icon>
      </mat-label>

      <mat-select [(ngModel)]="selectedDelivery.TRANSPORT_ID"
                  (ngModelChange)="selectTransportType($event)">
        <mat-option *ngFor="let transport of customTransports" [value]="transport.ID">
          {{transport.TRANSPORT}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{'توضیحات ارسال' | translate }} ({{'اختیاری' | translate }})
      </mat-label>
      <textarea [(ngModel)]="selectedDelivery.TRANSPORT_DESCRIPTION" matInput cols="60" rows="2"></textarea>
    </mat-form-field>

    <button mat-stroked-button color="primary"
            (click)="selectTransportType(selectedDelivery.TRANSPORT_ID)">
      {{'تایید توضیحات' | translate}}
    </button>


  </div>

</div>
