

.dialog-container {
  width: 90%;
  padding: 20px;

  >form {
    width: 100%;

    mat-form-field {
      margin-top: 10px;
      width: 100%;
    }
  }
}

// mat-form-field mat-form-field-label-wrapper mat-form-field-label{
//   left: 108px;
//   right: 0;
// }

.otp-holder {
  width: 100%;
  margin-top: 15px;
}
