<div class="dialog-container">
  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="outline">
      <mat-label>{{'پسورد جدید' | translate }}</mat-label>
      <input formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'" autocomplete="off" matInput>
      <mat-icon style="cursor: pointer" matSuffix (click)="hidePassword = !hidePassword">
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error>
        {{'وارد کردن رمز جدید با حداقل چهار کاراکتر الزامی است' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'تکرار پسورد جدید' | translate }}</mat-label>
      <input formControlName="newPassworddConfirm" [type]="hidePassword ? 'password' : 'text'" autocomplete="off"
        matInput>
      <mat-icon style="cursor: pointer" matSuffix (click)="hidePassword = !hidePassword">
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error>
        {{'تکرار پسورد جدید اشتباه است' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="otp-holder">
      <button type="button" (click)="getOtpCode()" mat-raised-button color="primary">{{'دریافت کد تایید' | translate
        }}</button>
      <div *ngIf="remain">
        ({{"زمان باقی مانده" | translate }} : {{otp_timer}})
      </div>
      <mat-form-field appearance="outline">
        <mat-label>{{'کد تأیید' | translate }}</mat-label>
        <input formControlName="otpCode" type="text" matInput autocomplete="off">
        <mat-error>
          {{'وارد کردن کد تایید الزامی است' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="changePasswordForm.invalid" (click)="saveChangePassWord()" mat-raised-button
        color="primary">{{'ذخیره' | translate }}
      </button>
      <button (click)="backClicked()" mat-button>{{'بازگشت' | translate }}</button>
    </div>
  </form>
</div>