<app-header></app-header>

<div fxLayout="column" fxLayoutAlign="start stretch">

  <div class="background-overlay jarallax">
    <div class="color-overlay"></div>
    <img src="../../../../assets/img/help/about-us.png"
         alt="app" class="jarallax-img img-fluid">
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="overlay-content">
    <h2>
      فرصت های شغلی
    </h2>
  </div>

<!--  <mat-form-field name="selectPolicy">-->
<!--    <mat-select placeholder="Change Policy" (selectionChange)="navigateTo($event.value)">-->
<!--      <mat-option *ngFor="let policy of policies" [value]="policy.policyNbr">-->
<!--        #{{policy.policyNbr}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

</div>

