.category {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;

  img {
    aspect-ratio: 1;
    object-fit: contain;
  }

  .category-name {
    @media screen and (max-width: 959px) {
      font-size: 12px;
    }

  }

  .sub-categories {
    font-size: 12px;
    @media screen and (max-width: 959px) {
      font-size: 10px;
    }

  }

}
