.financial-detail {
  .financial-header {
    color: #b4b6b4;
    font-size: 16px;

    .divider {
      position: relative;
    }
  }

  .financial-item {
    margin-bottom: 10px;

    .title {
      font-size: 14px;
      color: #b4b6b4;
    }

    .desc {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
