@import '~swiper/swiper';
@import '~swiper/components/pagination/pagination';

.brands-slider {

  width: 100%;
  height: 100%;

  .swiper-pagination-bullet-active {
    background-color: var(--custom-primary-color);
  }

  .swiper-slide {
    text-align: center;
    align-self: center;

    img, image-lazy {
      max-height: 150px;
    }
  }
}
